@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.editar-periodos-icon {
  position: absolute;
  top: 243px;
  left: 15px;
  width: 1410px;
  height: 999px;
  object-fit: cover;
  display: none;
}
.de-seguida-so-container,
.perodos-de-estgio {
  position: absolute;
  top: 158px;
  left: 60px;
  letter-spacing: 0.05em;
}
.de-seguida-so-container {
  top: 245px;
  font-size: var(--font-size-lg);
  display: inline-block;
  width: 529px;
}
.barra-child {
  background-color: var(--color-white);
  border-bottom: 3px solid var(--color-steelblue-100);
  box-sizing: border-box;
}
.barra,
.barra-child {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 114px;
}
.admin {
  position: relative;
  letter-spacing: 0.05em;
}
.admin-wrapper {
  top: 2px;
  left: 94px;
  border-bottom: 1px solid var(--color-steelblue-100);
  width: 42px;
  height: 15px;
  flex-direction: row;
  padding: var(--padding-3xs);
}
.admin-wrapper,
.mrio-silva-wrapper,
.x-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.x-wrapper {
  width: calc(100% - 126px);
  top: 3px;
  right: -11px;
  left: 137px;
  height: 10px;
  flex-direction: column;
  padding: var(--padding-3xs);
  cursor: pointer;
  font-size: var(--font-size-base);
  font-family: var(--font-arial);
}
.mrio-silva-wrapper {
  top: 4px;
  left: -10px;
  height: 13px;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-2xs);
  color: var(--color-black);
}
.adm-name,
.logo-icon {
  position: absolute;
  top: calc(50% - 8px);
  left: 1220px;
  width: 154px;
  height: 21px;
}
.logo-icon {
  top: calc(50% - 23.5px);
  left: 0;
  width: 243px;
  height: 47px;
  object-fit: cover;
}
.logo {
  width: 243px;
  height: 55px;
}
.estgios,
.logo {
  position: relative;
  cursor: pointer;
}
.empresas {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 43px;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
  color: var(--color-steelblue-100);
  text-align: left;
  display: inline-block;
  width: 101px;
}
.administradores:hover,
.docentes1:hover,
.empresas:hover {
  mix-blend-mode: normal;
  color: var(--color-lightskyblue);
}
.administradores,
.docentes1,
.empresas {
  position: absolute;
  left: 0;
  letter-spacing: 0.05em;
  cursor: pointer;
}
.docentes1 {
  top: 21px;
  display: inline-block;
  width: 101px;
}
.administradores {
  top: -1px;
}
.submenu {
  position: absolute;
  top: 35px;
  left: 5px;
  background-color: var(--color-white);
  width: 102px;
  height: 58px;
  overflow: hidden;
  display: none;
  opacity: 0;
}
.submenu.animate {
  animation: 0.3s ease 0s 1 normal forwards fade-in;
}
.estgios1 {
  position: absolute;
  top: 0;
  left: 0;
}
.perfissubmenu {
  position: relative;
  width: 66px;
  height: 35px;
}
.perfissubmenu:hover {
  background-color: var(--color-deepskyblue-200);
}
.botao:active .press-button6,
.perfissubmenu:hover .submenu {
  display: flex;
}
.categories,
.logo-parent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-31xl);
}
.categories {
  width: 642.1px;
  align-items: flex-start;
}
.logo-parent {
  position: absolute;
  top: 30px;
  left: 1px;
  align-items: center;
  padding: 0 var(--padding-36xl);
}
.menu {
  margin: 0;
  position: absolute;
  top: -4px;
  left: 0;
  width: 1440px;
  height: 114px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-steelblue-100);
  font-family: var(--font-inter);
}
.periodos-de-estagio1 {
  position: absolute;
  top: 145px;
  left: 13px;
  width: 1425px;
  height: 934px;
  object-fit: cover;
  display: none;
}
.perodos {
  margin: 0;
}
.perodos-por-pgina-container {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.05em;
  font-weight: 600;
}
.botao-np,
.wrapper9 {
  position: absolute;
  top: 30px;
  left: 0;
}
.botao-np {
  top: 400px;
  left: 339px;
  width: 102px;
  height: 58px;
  font-size: var(--font-size-xs);
  color: var(--color-steelblue-100);
}
.novo-perodo {
  position: relative;
  font-size: var(--font-size-2xl);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.novo-perodo-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: var(--color-steelblue-100);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  width: 245px;
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.novo-perodo1 {
  position: relative;
  font-size: var(--font-size-2xl);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-steelblue-100);
  text-align: left;
}
.novo-perodo-container {
  border: 1px solid var(--color-steelblue-100);
  padding: var(--padding-3xs);
  background-color: var(--color-white);
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.botao,
.novo-perodo-container,
.press-button6 {
  position: absolute;
  width: 245px;
  height: 64px;
  cursor: pointer;
}
.press-button6 {
  top: 0;
  left: 0;
  display: none;
}
.botao {
  top: 414px;
  left: 60px;
}
.candalunos,
.curso2,
.descrio {
  position: absolute;
  top: 0;
  left: 1px;
  font-size: var(--font-size-xs);
  letter-spacing: 0.05em;
  font-weight: 600;
  color: var(--color-steelblue-100);
}
.candalunos,
.descrio {
  left: 775px;
}
.descrio {
  left: 96px;
}
.tabela-child,
.tabela-inner,
.tabela-item {
  position: absolute;
  top: 33px;
  left: 2px;
  background-color: var(--color-gray-100);
  border-bottom: 2px solid var(--color-steelblue-100);
  box-sizing: border-box;
  width: 1314px;
  height: 81px;
}
.tabela-child:hover,
.tabela-inner:hover,
.tabela-item:hover {
  background-color: var(--color-skyblue);
}
.tabela-inner,
.tabela-item {
  top: 114px;
}
.tabela-inner {
  top: 197px;
  left: 0;
  width: 1315px;
}
.mdm,
.mei,
.mei1 {
  position: absolute;
  top: 49px;
  left: 2px;
  letter-spacing: 0.05em;
}
.mdm,
.mei1 {
  top: 217px;
  left: 1px;
}
.mdm {
  top: 131px;
}
.mestrado-em-enginformtica,
.mestrado-em-enginformtica1,
.mestrado-em-enginformtica2 {
  position: absolute;
  top: 49px;
  left: 96px;
  font-size: var(--font-size-lgi);
  letter-spacing: 0.05em;
}
.mestrado-em-enginformtica1,
.mestrado-em-enginformtica2 {
  top: 132px;
}
.mestrado-em-enginformtica2 {
  top: 217px;
}
.fev-20241 {
  font-size: var(--font-size-lg);
}
.fev-2024,
.fev-20242,
.fev-20244 {
  position: absolute;
  top: 78px;
  left: 96px;
  letter-spacing: 0.05em;
  font-size: var(--font-size-lgi);
}
.fev-20242,
.fev-20244 {
  top: 161px;
}
.fev-20244 {
  top: 246px;
}
.tabela-child1,
.tabela-child2,
.tabela-child3 {
  position: absolute;
  top: 100px;
  left: 94.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 161px;
  height: 1px;
}
.tabela-child2,
.tabela-child3 {
  top: 183.5px;
  left: 95.5px;
}
.tabela-child3 {
  top: 266.5px;
}
.pluri-fev1 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.05em;
}
.pluri-fev-child {
  position: absolute;
  top: 23px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 100px;
  height: 1px;
}
.pluri-fev,
.pluri-fev2,
.pluri-fev4 {
  position: absolute;
  top: 50px;
  left: 400px;
  width: 99px;
  height: 23.5px;
  font-size: var(--font-size-lg);
}
.pluri-fev2,
.pluri-fev4 {
  top: 134px;
}
.pluri-fev4 {
  top: 219px;
}
.empresas1,
.propdocentes {
  position: absolute;
  top: 0;
  left: 594px;
  font-size: var(--font-size-xs);
  letter-spacing: 0.05em;
  font-weight: 600;
  color: var(--color-steelblue-100);
}
.propdocentes {
  left: 949px;
}
.div,
.div1,
.div2,
.div3,
.div4,
.div5,
.div6,
.div7,
.div8 {
  position: absolute;
  top: 49px;
  left: 594px;
  letter-spacing: 0.05em;
}
.div1,
.div2,
.div3,
.div4,
.div5,
.div6,
.div7,
.div8 {
  top: 134px;
}
.div2,
.div3,
.div4,
.div5,
.div6,
.div7,
.div8 {
  left: 775px;
}
.div3,
.div4,
.div5,
.div6,
.div7,
.div8 {
  top: 50px;
}
.div4,
.div5,
.div6,
.div7,
.div8 {
  left: 949px;
}
.div5,
.div6,
.div7,
.div8 {
  top: 134px;
}
.div6,
.div7,
.div8 {
  top: 217px;
  left: 594px;
}
.div7,
.div8 {
  top: 218px;
  left: 775px;
}
.div8 {
  left: 949px;
}
.editar-child {
  position: absolute;
  top: 23.5px;
  left: 1.5px;
  border-top: 1px solid var(--color-steelblue-100);
  box-sizing: border-box;
  width: 58px;
  height: 1px;
}
.editar {
  position: absolute;
  top: 50px;
  left: 1255px;
  width: 60px;
  height: 24px;
  cursor: pointer;
  color: var(--color-steelblue-100);
}
.editar-item,
.editar2 {
  position: absolute;
  top: 23px;
  left: 1px;
  width: 57px;
  height: 1px;
}
.editar2 {
  top: 134px;
  left: 1254px;
  width: 60px;
  height: 24px;
  cursor: pointer;
  color: var(--color-steelblue-100);
}
.editar-inner {
  position: absolute;
  top: 26.5px;
  left: 2.5px;
  border-top: 1px solid var(--color-steelblue-100);
  box-sizing: border-box;
  width: 58px;
  height: 1px;
}
.editar4 {
  position: absolute;
  top: 218px;
  left: 1254px;
  width: 60px;
  height: 27px;
  cursor: pointer;
  color: var(--color-steelblue-100);
}
.tabela {
  position: absolute;
  top: 544px;
  left: 59px;
  width: 1316px;
  height: 278px;
  font-size: var(--font-size-xl);
}
.periodos-estagio {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1261px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
